LovroLog/Service References/LovroLogServiceReference/LovroLogService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63740/LovroLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" />
  <xs:import schemaLocation="http://localhost:63740/LovroLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LovroLog.Core.Database" />
  <xs:element name="GetBaseEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="GetBaseEventsResult" nillable="true" type="q1:ArrayOfLovroBaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaperChangedEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaperChangedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="GetDiaperChangedEventsResult" nillable="true" type="q2:ArrayOfLovroDiaperChangedEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LovroLog.Core.Database" minOccurs="0" name="GetSummaryResult" nillable="true" type="q3:DatabaseSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBaseEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="newEvent" nillable="true" type="q4:LovroBaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBaseEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="AddBaseEventResult" nillable="true" type="q5:LovroBaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBaseEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="editedEvent" nillable="true" type="q6:LovroBaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBaseEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LovroLog.Core.LovroEvents" minOccurs="0" name="EditBaseEventResult" nillable="true" type="q7:LovroBaseEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBaseEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBaseEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>