LovroLog/Service References/LovroLogServiceReference/LovroLogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LovroLog.Core.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LovroLog.Core.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatabaseSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastModified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseSummary" nillable="true" type="tns:DatabaseSummary" />
</xs:schema>